<div class="main">
  <h1>Stock Market Recommender!</h1>

  <div class="main__content">
    <div class="main__content__inputs">
      <input #input type="text" />
      <select #range>
        <option value="ten">10 days</option>
        <option value="month">Monthly</option>
        <!-- TODO Add Quarterly Option -->
        <option value="year">Yearly</option>
      </select>
      <button *ngIf="!showResults" (click)="go()">Go</button>
      <button *ngIf="showResults" (click)="clear()">Clear</button>
    </div>
    <div class="main__content__output" *ngIf="showResults">
      <div class="price">{{ price }}</div>
      <div class="mediaCount">{{ mediaCount }}</div>
      <div
        class="recommendation"
        [ngClass]="{
          buy: recommendation === 'BUY',
          sell: recommendation === 'SELL'
        }"
      >
        {{ recommendation }}
      </div>
    </div>
  </div>
  <img
    *ngIf="recommendation"
    [src]="
      recommendation === 'BUY'
        ? '../assets/stonks.png'
        : recommendation === 'SELL'
        ? '../assets/not_stonks.png'
        : '../assets/diamond_hands.png'
    "
    alt="image"
  />
</div>
